@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./utils/fonts/NeueMontreal-Regular.otf') format('otf'),
    url('./utils/fonts/NeueMontreal-Medium.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
